@import url('@/assets/fonts/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    background: #ffffff;
    min-height: 100vh;
    transition: color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family: 'Inter', 'Poppins', sans-serif !important;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.bg-custom-image{
    @apply bg-[url('@/assets/image/background-1.png')] bg-no-repeat bg-center bg-cover
}
body{
    @apply bg-[url('@/assets/image/background-1.png')] bg-no-repeat  bg-top bg-auto
}
@layer base {
  html {
    @apply scroll-smooth;
  }
}